<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>


  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
    <Engine.Properties.Settings>
      <setting name="Engine_cn_entinfo_report_ReportService" serializeAs="String">
        <value>http://report.entinfo.cn:8060/reportservice.asmx</value>
      </setting>
      <setting name="Engine_cn_entinfo_sdk2_WebService" serializeAs="String">
        <value>http://sdk2.entinfo.cn:8060/webservice.asmx</value>
      </setting>
    </Engine.Properties.Settings>
  </applicationSettings>
</configuration>
