<?xml version="1.0" encoding="utf-8" ?>
<config>
  <LogPath>D:\logfile\</LogPath>
  <cardName>WLAN</cardName><!--网卡名称-->
  <sn>DXX-JIN-010-00115</sn><!--发送短信序列号-->
  <password>745158</password><!--密码，明文-->
  <moblie>18610328894</moblie><!--接收反馈信息的手机号-->
  <serverId>131</serverId><!--服务器编号-->
  <odbcConnection>user id = mduser; password=Guiyang0851;data source = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 119.254.95.131)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = smsdatabase)));</odbcConnection><!--数据库连接串-->
</config>